@model IEnumerable<EjemploMVCCursosOnline.Models.Curso>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de cursos disponibles</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus"></i> Nuevo Curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Descripción
            </th>
            <th>
                Fecha de Publicación
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Titulo
                </td>
                <td>
                    @item.Descripcion
                </td>
                <td>
                    @item.FechaPublicacion
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit"></i></a> |
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Detalle"> <i class="fas fa-info"></i> </a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}